<template>
  <div class="hello">
    <h1>{{ msg }}-- {{ name }}</h1>
    <h2>{{ people.name }}--{{ people.age }}</h2>

    <a-table :columns="tableColumns" :data-source="tableData">
      <template #name="{text}">
        <a>{{ text }}</a>
      </template>
    </a-table>
    <a-button @click="login(loginInfo)">
      登录
    </a-button>
    <a-button @click="getTreeList">
      test
    </a-button>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref, reactive } from 'vue';
import { mapActions } from 'vuex'
import { getTreeList } from '@/api/other'

interface Person {
  name: String,
  age?: Number
}

const columns = [
  {
    title: 'Name',
    dataIndex: 'name',
    key: 'name',
    slots: { customRender: 'name' },
  },
  {
    title: 'Age',
    dataIndex: 'age',
    key: 'age',
    width: 80,
  },
  {
    title: 'Address',
    dataIndex: 'address',
    key: 'address 1',
    ellipsis: true,
  },
  {
    title: 'Long Column Long Column Long Column',
    dataIndex: 'address',
    key: 'address 2',
    ellipsis: true,
  },
  {
    title: 'Long Column Long Column',
    dataIndex: 'address',
    key: 'address 3',
    ellipsis: true,
  },
  {
    title: 'Long Column',
    dataIndex: 'address',
    key: 'address 4',
    ellipsis: true,
  },
]

const data = [
  {
    key: '1',
    name: 'John Brown',
    age: 32,
    address: 'New York No. 1 Lake Park, New York No. 1 Lake Park',
    tags: ['nice', 'developer'],
  },
  {
    key: '2',
    name: 'Jim Green',
    age: 42,
    address: 'London No. 2 Lake Park, London No. 2 Lake Park',
    tags: ['loser'],
  },
  {
    key: '3',
    name: 'Joe Black',
    age: 32,
    address: 'Sidney No. 1 Lake Park, Sidney No. 1 Lake Park',
    tags: ['cool', 'teacher'],
  },
]

export default defineComponent({
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  setup() {
    let name = ref('chen')
    const people = reactive<Person>({name: 'chenqiang', age: 456})

    const tableData = reactive(data)
    const tableColumns = reactive(columns)
    const loginInfo = {
      userName: 'nanjing',
      userPassword: 123456
    }
    // function isLogin(){
    //   login(loginInfo)
    // }
    return {
      name,
      people,
      tableData,
      tableColumns,
      loginInfo,
      getTreeList
    }
  },
  methods: {
    ...mapActions(['login'])
  }
});
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
